# compiled output
dist
build
out-tsc
*.tsbuildinfo

# dependencies
node_modules

# nx
.nx/cache
.nx/workspace-data

# test artifacts
coverage
test-output
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDEs and editors
/.idea
.project
.classpath
.settings/
.vscode/*
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
/tmp
.temp
.tmp

# System Files
.DS_Store
Thumbs.db
